.container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-bar-container {
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    position: fixed top;
}

.search-bar-container input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #024950;
    border-radius: 5px;
}

.search-bar-container button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #024950;
    color: white;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar-container button:hover {
    background-color: #023740;
}

h1 {
    color: #0fa4af;
    text-align: center;
    margin-top: 40px;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #d9cdc4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #003135;
    color: white;
}

.task-row td {
    padding: 20px;
}

.filter {
    color: #024950;
    font-size: 25px;
}

.filter p {
    margin-top: 10px;
}

.filter-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.filter-select {
    padding: 10px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #024950;
    border-radius: 5px;
    margin: 5px;
}
