/* EditTaskForm.css */
.form-container {
    width: 50%; /* Ensure it covers 50% of the page width */
    max-width: 600px; /* Optional: Set a maximum width to prevent it from becoming too wide */
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-form {
    display: flex;
    flex-direction: column;
}

.form-input,
.form-select,
.form-textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-input:focus,
.form-select:focus,
.form-textarea:focus {
    border-color: #003135; /* Match navbar color */
    outline: none;
}

.form-textarea {
    height: 150px; /* Adjust height as needed */
    resize: vertical; /* Allow vertical resizing only */
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #024950; /* Set to requested color */
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #00323e; /* Slightly darker shade for hover effect */
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

h1 {
    color: #003135; /* Set to requested color */
}
