.signin-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    min-height: 100vh;
    padding: 100px;
    gap: 50px; /* Space between the two cards */
    width: 100%;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px; /* This will be applied to both cards */
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 2; /* Allows the info card to be wider */
    max-width: 700px; /* Ensure it can be wider than the sign-in form */
}

.card-info h1,
.card-info p {
    margin: 0;
    color: #003135;
}

.card-info h2,
.card-info p {
    margin: 0;
    color: #0fa4af;
}

.card-info p {
    margin-top: 10px;
    color: #333;
}

.card-form {
    display: flex;
    flex-direction: column;
    flex: 1; /* Adjust the form width relative to the info card */
    max-width: 400px; /* Ensure the form is narrower */
}

.card-form input,
.card-form button {
    margin-bottom: 15px;
}

.card-form input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.card-form button {
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: #024950;
    color: #ffffff;
    cursor: pointer;
}

.card-form button:hover {
    background-color: #023740;
}

.card-form a {
    color: #024950;
}
