.task-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 140px;
    width: 90%;
}

.task-left-column {
    width: 70%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.task-details-card {
    background-color: #f5f5f5;
    color: #024950;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.task-details-card h1 {
    font-size: 22px;
}

.task-details-card p {
    font-size: 16px;
}

.task-right-column {
    width: 40%;
    background-color: #f5f5f5;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-column-content {
    width: 90%;
    height: auto;
    padding: 20px;
}

.task-right-column ul {
    list-style-type: none;
    color: #024950;
    padding: 0;
    margin-bottom: 20px;
}

.task-right-column ul li {
    margin-bottom: 10px;
    font-size: 16px;
}
.task-right-column ul li::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 5px;
}

.task-buttons {
    display: flex;
    flex-direction: column;
}

.task-buttons button {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    color: white !important;
    border-radius: 5px;
    cursor: pointer;
}

.task-buttons .complete-button {
    background-color: #114b51 !important;
}

.task-buttons .delete-button {
    background-color: #964734 !important;
}

.task-buttons .edit-button {
    background-color: #718c70 !important;
}

.task-buttons .in-progress-button {
    background-color: #0f848c !important;
}

.task-buttons button:hover {
    opacity: 0.9;
}
