.task-row {
    cursor: pointer;
    overflow: hidden;
    border-bottom: 1px solid #d9cdc4; 
}

.task-row-wrapper {
    display: flex;
    width: 100%;
    background-color: #faf9f6;
    color: #07757f;
    border-radius: 10px;
    overflow: hidden;
}

.task-cell {
    padding: 8px;
    flex: 1;
    box-sizing: border-box;
}

.task-row:hover .task-row-wrapper {
    background-color: #dbdad8;
}
